#title {
    text-align: center;
    color: white;
}
body {
    background-color: blueviolet;
}
#description {
    text-align: center;
    font-style: italic;
    color: white;
}
#survey-form {
    text-align: justify;
    background-color: rgb(29, 29, 68);
    opacity: 80%;
    color: white;
    padding: 20px;
   
}
#name {
    font-size: large;
    font-weight: lighter;
}
#email {
    font-size: large;
    font-weight: lighter;
}
#number {
    font-size: large;
    font-weight: lighter;
}
#name-label {
    font-style: oblique;
    font-size: 20px;
}
#email-label {
    font-style: oblique;
    font-size: 20px;
}
#number-label {
    font-style: oblique;
    font-size: 20px;
}
#label-dropdown {
    font-style: oblique;
    font-size: 20px;
    padding: 20px;
}
#dropdown {
    font-size: large;
    font-weight: lighter; 
    position: relative;
}
#button {
    font-style: oblique;
    font-size: 20px;
}
#design {
    font-size: large;
    font-weight: lighter;
}
#check {
    font-style: oblique;
    font-size: 20px;
} 
h3 {
    font-size: large;
    font-weight: lighter;
   
}
#area {
    font-style: oblique;
    font-size: 20px;
}
#textarea {
    font-size: large;
    font-weight: lighter;
}
#submit {
    font-size: large;
    font-weight: lighter;
}